{% extends 'base.html.twig' %}

{% block title %}
	Editer
	{{trick.name}}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	{{ encore_entry_script_tags('handleVideo') }}
	{{ encore_entry_script_tags('slider') }}
{% endblock %}

{% block body %}
<h1>
	Modifier
	{{trick.name}}
</h1>
<style>
	.example-wrapper {
		margin: 1em auto;
		max-width: 800px;
		width: 95%;
		font: 18px / 1.5 sans-serif;
	}
	.example-wrapper code {
		background: #F5F5F5;
		padding: 2px 6px;
	}
</style>
{% if is_granted('ROLE_USER') %}

{{ form_start(form) }}
<div
	class="example-wrapper">
	<div
		class="card mb-3">
		<div
			class="position-relative">
			<h3
				class="position-absolute top-50 start-50 translate-middle">
				<div
					class='input-group'>
					{{ form_widget(form.name)}}
					<div
						class="input-group-append">
						<button
							class="btn btn-secondary">
							{{ button_label|default('Sauvegarder') }}
						</button>
					</div>
				</div>

			</h3>

			<img
				src={{asset('placeholder.png') }} alt="{{trick.name}}" class="w-100"
				alt="{{trick.name}}"/>
		</div>

		<div
			class="row d-none d-lg-flex load-media">
			<div
				class="col-lg-6 col-md-12">
				{% if images is not empty %}
						<div
							class="glideImage">
							<div
								class="glide__track"
								data-glide-el="track">
								<ul
									class="glide__slides">
									{% for image in images %}
									<li class="glide__slide">
											<img class="w-100"
												src="{{asset(image.path, 'uploads')}}"/>
											<a class="text-danger" href="{{path('app_image_delete', {'id':image.id})}}" onclick="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');" >Supprimer</a					
									</li>
									{% endfor %}
								</ul>
							</div>
							<div class="glide__arrows" data-glide-el="controls">
								<button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
								<button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
							</div>
						</div>
				{% else %}
					<div
					class="row justify-content-center">
					<div
						class="d-inline-block text-center no-medias">
						<p
							class="mt-3 ml-3 mr-3">
							Pas d'images pour ce trick
						</p>
					</div>
				</div>

				{% endif %}
				{{form_widget(form.images)}}
			</div>

			<div
				class="col-lg-6 col-md-12">
				<div
					class="form-group row">
					<br/>
					<label
						for="video1"
						class="col-sm-4 col-form-label">
						Vidéos :
						<br/>
						<span
							class="btn btn-info add_video_link"
							id="addVideoUpload"
							title="Ajouter une vidéo">
							<i
								class="fas fa-link"></i>
							<i
								class="fas fa-plus"></i>
						</span>
					</label>
					<div
						id="trickVideos"
						data-prototype="<div class='row align-items-center'><div class='col-sm-10'>{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}</div><div class='col-sm-2 form-group deleteVideo'><span><i class='fas fa-trash-alt'></i></span></div></div>" data-widget-counter="{{ form.videos|length }}">

						{% for video in form.videos %}
							<div
								class='row align-items-center'>
								{{ form_errors(video) }}
								<div
									class='col-sm-10'>
									{{ form_widget(video) }}
								</div>
								<div
									class='col-sm-2 form-group deleteVideo'>
									<span>
										<i
											class='fas fa-trash-alt'></i>
									</span>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div
			class="text-center">
			<a
				href="#"
				id="loadMedia"
				class="d-md-block d-lg-none">
				<button
					class="btn btn-outline-secondary">
					Afficher les médias
				</button>
			</a>
			<a
				href="#"
				id="hideMedia"
				class="d-none d-md-none d-lg-none">
				<button
					class="btn btn-outline-secondary mt-3">
					Masquer les médias
				</button>
			</a>
		</div>

		<div
			class="card-body pb-0">
			<table
				class="table text-center table-hover">
				<thead>
					<tr>
						<th
							scope="col">
							Catégorie
						</th>
						<th
							scope="col">
							Publié
						</th>
						{% if trick.updateAt is defined %}


							<th
								scope="col">
								Modifié
							</th>
						{%	 endif %}
						<th
							scope="col">
							Auteur
						</th>
					</tr>
				</thead>
				<tbody>

					<tr
						class="table-primary">
						<th
							scope="row">
							<div
								class='input-group'>
								{{ form_widget(form.category)}}
								<div
									class="input-group-append">
									<button
										class="btn btn-secondary">
										{{ button_label|default('Sauvegarder') }}
									</button>
								</div>
							</div>
						</th>
						<td>
							{{trick.createdAt|date('Y-m-d H:i')}}


						</td>
						{% if trick.updateAt is defined %}

							<td>
								{{trick.updatedAt|date('Y-m-d H:i')}}
							</td>

						{% endif %}

						<td>
							{{trick.getUser()}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div
			class="card-body pt-0">
			<p
				class="card-text">
				<div
					class='input-group'>
					{{ form_widget(form.description)}}
					<div
						class="input-group-append">
						<button
							class="btn btn-secondary">
							{{ button_label|default('Sauvegarder') }}
						</button>
					</div>
				</div>
			</p>

		</div>
				{{ form_end(form) }}
		<div
			class="card-footer">
			<div class="row justify-content-center">
				<button
					class="btn btn-primary">
					{{ button_label|default('Sauvegarder') }}
				</button>
</div>

		</div>
	</div>
</div>
{{ include('tricks/_delete_form.html.twig') }}

	<a
		href="{{ path('app_tricks_index') }}">
		retour à la liste
	</a>
		{% else %}
			<div
				class="alert alert-warning">

				<h4
					class="alert-heading">
					Attention !
				</h4>
				<p
					class="mb-0">
					Veuillez vous
					<a
						href="{{path('app_login')}}">
						connecter
					</a>
					.
				</p>
			</div>

	{% endif %}
{% endblock %}
